* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 1.0);
  color: #222839;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1vh 1vw;
  z-index: 1000;
  border-bottom: 0.1vw solid rgba(255, 255, 255, 0.18);
}

.logo img {
  height: 7vh;
  display: flex;
  padding-right: 0.2vw;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: auto;
  height: auto;
  font-size: large;
  max-width: 100vw;
  font-weight: bold;
}

nav ul li {
  padding: 0 15px;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #222839;
}

nav ul li a:hover {
  color: #EAEDEE;
}

/* Wavy Background Canvas */
canvas#wavyBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2; /* Ensures it's the bottom-most layer */
}

/* Blurry Backdrop */
.blurry-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px); /* Prefix for iOS/Safari */
  z-index: -1; /* Positioned above the wavy background but below other content */
}

.glass-container {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 20px;
  margin: auto auto 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  z-index: 3;
}

.left-section, .right-section {
  flex: 1;
}

.left-section img, .right-section img {
  width: auto;
  max-height: 250px;
  object-fit: contain;
  margin: auto;
  border-radius: 10px;
}

.right-section {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact-info {
  color: #000;
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: auto;
}

.contact-info .contact-details {
  background: rgba(0, 0, 0, 0);
  padding: 0px;
  border-radius: 5px;
}

.contact-info .contact-details strong {
  font-size: 20px;
  display: block;
}

.contact-info .email a, .contact-info .location, .contact-info .mailing {
  font-size: 18px;
  line-height: 1.5;
  text-decoration: none;
  color: #000000;
}

.contact-info .email a:link, .contact-info .email a:visited {
  color: #0026ff;
}

.contact-info .email a:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  header {
    flex-direction: column;
    padding: 20px 10px;
  }
  
  .logo img {
    margin: 0 auto;
    height: 50px;
  }
  
  nav ul {
    padding-top: 20px;
    justify-content: center;
  }

  nav ul li {
    font-size: 3vw;
  }

  .glass-container {
    flex-direction: column;
    padding: 20px;
  }

  .left-section, .right-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact-info .contact-details {
    text-align: center;
  }

  .contact-details {
    padding-top: 10px;
  }
}


/* Media query for iPad in portrait orientation */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  header {
    justify-content: space-between;
  }
  
  .logo img {
    height: 60px;
  }
  
  nav ul li {
    padding: 0 15px;
    font-size: 3vw;
  }

  .glass-container {
    flex-direction: row;
    margin-top: 150px;
  }
  
  .left-section img, .right-section img {
    max-width: 100% ;
  }

  .contact-info {
    font-size: 16px;
  }
}


 
@media only screen and (min-device-width: 1024px) and (max-device-height: 768px) and (orientation: landscape) {
  header {
    padding: 0.5vh 2vw;
  }
  
  .logo img {
    height: 70px;
  }

  nav ul li {
    padding: 0 25px;
    font-size: 3vw;
  }

  .glass-container {
    flex-direction: row;
    padding: 30px;
  }

  .left-section img, .right-section img {
    max-width: 100%;
  }

  .contact-info {
    font-size: 18px;
  }
}

  


@media (min-width: 1920px) {
  header {
    justify-content: space-between;
    padding: 2vh 4vw;
  }

  .logo img {
    height: 80px;
  }

  nav ul li {
    padding: 0 40px;
    font-size: 3vw;
  }

  .glass-container {
    flex-direction: row;
    padding: 40px;
    max-width: 1200px;
  }

  .left-section img, .right-section img {
    max-height: 350px;
  }

  .contact-info {
    font-size: 20px;
  }
}
