* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 1.0);
  color: #222839;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1vh 1vw;
  z-index: 1000;
  border-bottom: 0.1vw solid rgba(255, 255, 255, 0.18);
}

.logo img {
  height: 7vh; /* Adjust this value as necessary */
  display: flex;
  padding-right: 0.2vw; ;
  align-items: center;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: auto;
    height: auto;
    font-size: large;
    max-width: 100vw;
    font-weight: bold;
}

nav ul li {
  padding: 0 20px; /* Use fixed padding for consistent spacing */
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #222839;
}

nav ul li a:hover {
  color: #EAEDEE;
}

@media screen and (max-width : 480px ) {
  header {
    flex-direction: column;
  }

  .logo img {
    height: 7vh; /* Smaller logo for smaller screens */
    padding: 0; /* Adjust padding as needed */
	  margin: auto auto;
  }

  nav ul {
    justify-content: center;
  }

  nav ul li {
    padding: 10px; /* More vertical padding, no horizontal */
	font-size: 3.5vw;
  }
}

/* Tablets in Portrait */
@media screen and (min-width: 481px) and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .logo img {
    height: 8vh; /* Slightly larger logo */
    padding-right: 0.5vw; /* Adjust padding */
  }

  nav ul {
    justify-content: flex-end;
  }

  nav ul li {
    padding: 0 12px; /* Adjust padding */
    font-size: 3.5vw; /* Adjust font size */
  }
}

/* Tablets in Landscape */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .logo img {
    height: 4.5vw; /* Adjust logo size for more space */
  }

  nav ul li {
    padding: 0 10px; /* Fine-tune padding */
    font-size: 2vw; /* Increase font size */
	margin-right: 5px;
  }
}

/* Desktops and screens larger than 1024px */
@media screen and (min-width: 1025px) {
  header {
    flex-direction: row; /* Return to a horizontal layout for more space */
    justify-content: space-between; /* Space out the logo and navigation */
    padding: 1vh 2vw; /* Adjust padding for a balanced appearance */
  }

  .logo img {
    height: 6vh; /* Adjust logo size for desktop */
    padding: 0; /* Reset padding */
    margin: 0; /* Reset margin */
  }

  nav ul {
    justify-content: flex-end; /* Align navigation to the end */
  }

  nav ul li {
    padding: 0 20px; /* Adjust padding for desktop */
    font-size: 2vw; /* Adjust font size for desktop readability */
    margin-right: 0; /* Reset margin-right */
  }
}

/* Very large screens, wider than 1440px */
@media screen and (min-width: 1440px) {
  header {
    padding: 1.5vh 3vw; /* More spacious padding for large screens */
  }

  .logo img {
    height: 7vh; /* Larger logo size for better visibility */
  }

  nav ul li {
    padding: 0 25px; /* Increase padding for a wider layout */
    font-size: 1.1vw; /* Slightly larger font size for readability */
  }
}

/* Sumo-sized screens, wider than 2000px */
@media screen and (min-width: 2000px) {
  .logo img {
    height: 8vh; /* Maximize logo size for sumo-sized screens */
  }

  nav ul li {
    padding: 0 30px; /* Maximize padding for large layouts */
    font-size: 1.2vw; /* Enhance font size for optimal readability */
  }
}

  
/* Wavy Background Canvas */
canvas#wavyBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3; /* Behind all content */
}


/* Blurry Backdrop */
.blurry-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px); /* Prefix for iOS/Safari */
  backdrop-filter: blur(10px);
  z-index: -2; /* Above the wavy background, below everything else */
}

.content {
  position: relative;
  margin-top: 45vh; /* Adjusted for large screens; consider reducing for smaller screens */
  color: rgb(0, 0, 0);
  font-size: calc(1rem + 1vw); /* Combines fixed and relative sizing for scalability */
  text-align: center;
  z-index: 5;
}


.current-research-font {
  display: flex;
  justify-content: center; /* Ensure content is centered within flex container */
  align-items: center; /* Align items vertically for better visual structure */
  z-index: 5;
}

.welcome-font {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  font-size: 1.25rem; /* Maintain consistency in font sizing */
}

.glass-text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1vh 2vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  font-weight: bold;
  z-index: 3;
}

.glass-container {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 2vh;
  margin-top: calc(100vh - 100% - -150vh);
  width: 95vw; /* Adjusted to provide some margin on smaller screens */
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.glass-container-research {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 2vh;
  margin-top: 1vh;
  width: 95vw; /* Adjusted to provide some margin on smaller screens */
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 480px) {
  .content {
    margin-top: 50vh; /* Reduce margin-top for mobile */
    font-size: calc(1rem + 2vw); /* Increase font size for readability */
  }

  .glass-container {
    width: 95vw; /* Slightly reduce width for screen margin */
    margin-top: 30vh; /* Adjust top margin to avoid overlap with header */
    padding: 4vh; /* Increase padding for better spacing */
  }
	
	.glass-container-research {
    width: 95vw; /* Slightly reduce width for screen margin */
    margin-top: 2vh; /* Adjust top margin to avoid overlap with header */
    padding: 4vh; /* Increase padding for better spacing */
  }

  .current-research-font, .welcome-font {
    font-size: calc(1rem + 1vw); /* Adjust font size for better readability on small screens */
	text-align: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .content {
    margin-top: 50vh; /* Adjust for tablet screens */
  }

  .glass-container {
    width: 95vw; /* Adjust width for optimal spacing */
    padding: 3vh; /* Adjust padding for content spacing */
	margin-top: 40vh;
  }
	
  .glass-container-research {
    width: 95vw; /* Slightly reduce width for screen margin */
    margin-top: 2vh; /* Adjust top margin to avoid overlap with header */
    padding: 4vh; /* Increase padding for better spacing */
  }

  .current-research-font, .welcome-font {
    font-size: calc(1rem + 2vw); /* Fine-tune font sizes for medium screens */
  }
}

@media screen and (min-width: 1025px) {
  .content {
    margin-top: 45vh; /* As initially set, optimized for large screens */
    font-size: calc(1rem + 1vw); /* Maintain scalable font sizing */
  }

  .glass-container {
    width: 95vw; /* Adjust width for a more centered layout */
    padding: 2vh; /* Maintain padding for consistency */
    margin-top: 45vh; /* Adjust for aesthetic spacing from the header */
  }
	
  .glass-container-research {
    width: 95vw; /* Slightly reduce width for screen margin */
    margin-top: 2vh; /* Adjust top margin to avoid overlap with header */
    padding: 4vh; /* Increase padding for better spacing */
  }

  .current-research-font, .welcome-font {
    font-size: calc(1rem + 1vw); /* Consistency in font scaling */
  }
}


#research {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid layout */
  gap: 2vw; /* Space between grid items based on viewport width */
  padding: 5vh; /* Padding based on viewport height */
  margin: 0 auto; /* Center the grid horizontally */
  max-width: 90vw; /* Max width based on viewport width, you can adjust as necessary */
}

.research-topics {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 300px; /* Width of the card */
  height: 350px; /* Height of the card */
  margin: 20px auto; /* Centers card in the available space with 50px margin */
  background: transparent; /* Transparent background */
  backdrop-filter: blur(10px); /* Blurred effect for content beneath the container */
  border-radius: 25px; /* Rounded corners */
  overflow: hidden; /* Hides parts of the content that overflows container's box */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Shadow effect for depth */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
  z-index: 3; /* Ensures the card is above the blurry backdrop but under the modal/dialogs if any */
  gap: 20px; /* Space between the cards if wrapped */
}


.research-item {
  width: 300px;
  height: 350px;
  background-color: #000000;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative; /* Add position relative so that absolute positioned children are relative to this */
  z-index: 5;
}

.research-item img {
  width: 100%; /* Adjust size as needed */
  height: 210px; /* Adjust size as needed */
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px; /* Space between image and text */
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  z-index: 5;
}

.research-item .card-content {
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    margin-left: 20px;
    width: 100%; /* Stretch across the width of the parent */
    backdrop-filter: blur(10px);
    z-index: 6;
    left: 0vmax;
}


.research-item .card-content h2,
.research-item .card-content p {
    color: #ffffff;
    z-index: 5;
    margin: 0%;
  
}
 

.research-item button {
  margin-top: 0px;
  margin-left: 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 7;
}

.research-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

@media screen and (max-width: 480px) {
  #research {
    grid-template-columns: 1fr; /* Single column layout */
    gap: 5vh; /* Increase gap for vertical spacing */
    padding: 5vh 5vw; /* Adjust padding for smaller screens */
  }

  .research-topics, .research-item {
    width: 60vw; /* Adjust width to fit small screens */
    height: auto; /* Make height auto to accommodate content */
    margin: 0 auto; /* Increase margin top for spacing */
  }

  .research-item img {
    height: auto; /* Adjust image height for aspect ratio */
  }

  .research-item .card-content {
    padding: 0px; /* Reduce padding */
  }
  
  .research-item button {
	margin: 10px;
	}
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  #research {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Flexible grid with minimum item width */
    padding: 5vh; /* Maintain padding */
    gap: 4vw; /* Adjust gap */
  }

  .research-topics {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two items per row */
    gap: 20px; /* Maintain gap */
  }

  .research-topics, .research-item {
    width: 27vw; /* Adjust width to fit small screens */
    height: auto; /* Make height auto to accommodate content */
    margin: 0 auto; /* Increase margin top for spacing */
  }
  
  .research-item button {
	margin: 10px;
	}
}

@media screen and (min-width: 1025px) {
  #research {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adapt columns to screen width */
    max-width: 95vw; /* Adjust max width for centering */
    padding: 2vh 2vw; /* Adjust padding */
    gap: 2vw; /* Adjust gap */
  }

  .research-topics {
    width: 20vw; /* Adjust width based on content */
    height: auto; /* Adjust height based on content */
  }

  .research-topics, .research-item {
    width: 20vw; /* Adjust width to fit small screens */
    height: auto; /* Make height auto to accommodate content */
    margin: 0 auto; /* Increase margin top for spacing */
  }
  
  .research-item button {
	margin: 10px;
	}
}




/* Style for modal */
/* Overlay */
#modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  z-index: 100; /* Ensure it is above other content but below modal */
  transition: opacity 0.3s ease;
  opacity: 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.9); /* Black with opacity */
  transition: opacity 0.3s ease ;
  opacity: 100;
}

/* Modal Content */
.modal-content {
  position: relative; /* For absolute positioning of the close button */
  background-color: #fefefe;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
  border-radius: 10px; /* Optional: if you want rounded corners */
}

.modal-content {
  transform: translateY(-50px); /* Start slightly above the final position */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Transition for smooth movement and fade */
}

.modal-content img {
  display: flex;
  justify-content: center;
  max-width: 100%; /* Make image responsive */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Space between image and text */
  transition: transform 0.3s ease; /* Smooth transition for image */
  padding: 20px;
  background-color: #ffffff;
}

.model-open { 
  overflow: hidden;
}

.modal-extra-content {
  display: flex;
  flex-wrap: wrap; /* Allow the contents to wrap on smaller screens */
  justify-content: space-between;
  margin-top: 10px;
}

.left-content, .right-content {
  text-align: justify;
  flex: 1 1 45%; /* Adjust the flex-basis to control when wrapping occurs */
  padding: 0px;
  margin: 10px 0; /* Ensure spacing between when wrapped */
}

.right-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-content img, .right-content video {
  max-width: 90%; /* Ensure media is fully responsive within its container */
  height: auto;
  max-height: 250px; /* Limit the height of the image/video */
}


/* The Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Footer Styles */
footer {
  background: #000000;
  text-align: center;
  border-radius: 10px;
  padding: 2vh;
  margin-top: 0.2vh;
  width: 95vw; /* Adjusted to provide some margin on smaller screens */
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.details-footer {
  border-radius: 10px;
  padding: 2vh;
  margin-top: 0.2vh;
  width: 95vw; /* Adjusted to provide some margin on smaller screens */
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.details-footer {
  display: flex;
  justify-content: space-around; /* This will put equal space around each item */
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap as needed */
  padding: 20px;
  background-color: #000;
  color: #fff;
}

/* For the .affiliations and .contact-info sections, you want them to take up equal space */
.affiliations, .contact-info {
  flex-basis: calc(20% - 10px); /* 50% for each, minus 40px for padding */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Adjust the margin around each logo and contact details to ensure proper centering */
.affiliation-logo, .contact-info .contact-details {
  margin: 0 0; /* 20px margin on the left and right */
}

.affiliations {
  display: flex;
  flex-direction: column; /* Stack logos on top of each other */
  align-items: center; /* Center logos */
}

.affiliation-logo img {
  max-width: 250px; /* Adjust the width as needed */
  max-height: auto; /* Adjust the height as needed */
  width: auto; /* Ensure the width is auto to maintain aspect ratio */
  height: auto; /* Ensure the height is auto to maintain aspect ratio */
  background-color: #ffffff; /* Maintain the background color */
  padding: 5px; /* Optionally add padding around the logos */
  box-sizing: border-box; /* Include padding in the element's total width and height */
  border-radius: 20px;
  margin: 10px;
}

.contact-info {
  text-align: left; /* Align text to the left */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start of the flex container */
  max-width: 50%; /* Max width of the contact info box */
  margin-top: 20px; /* Space above the contact info */
}

.contact-footer {
  width: 100%; /* Use full width of the footer */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  flex-wrap: wrap; /* Wrap items to next line if space runs out */
  gap: 20px; /* Space between logos and contact information */
}

.contact-info .contact-details {
  padding: 10px; /* This adds padding inside each contact-details div */
  margin-bottom: 10px; /* This adds space below each contact-details div */
}

/* To target individual classes for specific padding, you can do this: */
.contact-info .contact-details.email {
  padding-bottom: 10px; /* Adjusts padding at the bottom of the email details */
}

.contact-info .contact-details.location {
  padding-bottom: 10px; /* Adjusts padding at the bottom of the location details */
}

.contact-info .contact-details.mailing {
  padding-bottom: 10px; /* Adjusts padding at the bottom of the mailing address details */
}
