* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 1.0); /* White background */
  color: #0E162F; /* Dark navy text */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1vh 2vw;
  z-index: 1000;
  border-bottom: 0.1vw solid rgba(255, 255, 255, 0.18);
}

.logo img {
  height: 7vh;
  display: flex;
  padding-right: 0.2vw;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: auto;
  font-size: large;
  font-weight: bold;
}

nav ul li {
  padding: 0 20px;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #0E162F;
}

nav ul li a:hover {
  color: #AFCBE5;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon div {
  width: 25px;
  height: 3px;
  background-color: #0E162F;
  margin: 4px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  nav ul {
    position: absolute;
    top: 60px;
    left: -100%;
    flex-direction: column;
    width: 100%;
    background-color: rgba(255, 255, 255, 1.0);
    transition: left 0.3s ease;
    z-index: 999;
  }

  nav ul li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }

  nav ul.active {
    left: 0;
  }
}

/* Wavy Background Canvas */
canvas#wavyBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}

/* Blurry Backdrop */
.blurry-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: -2;
}

.content {
  position: relative;
  margin-top: 45vh;
  color: #0E162F; /* Dark navy text */
  font-size: calc(1rem + 1vw);
  text-align: center;
  z-index: 5;
}

.current-research-font {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 50px;
}

.welcome-font {
  max-width: auto;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
}

.glass-text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1vh 2vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  font-weight: bold;
  z-index: 3;
  color: #0E162F; /* Dark navy text */
}

.glass-container {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 2vh;
  margin-top: calc(100vh - 100% - -150vh);
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  position: relative;
  z-index: 3;
  color: #0E162F; /* Dark navy text */
}

.glass-container-research {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 2vh;
  margin-top: 1vh;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  position: relative;
  z-index: 3;
  color: #0E162F; /* Dark navy text */
}

@media screen and (max-width: 480px) {
  .content {
    margin-top: 50vh;
    font-size: calc(1rem + 1vw);
  }

  .glass-container {
    width: 95vw;
    margin-top: 30vh;
    padding: 4vh;
  }
  
  .glass-container-research {
    width: 95vw;
    margin-top: 2vh;
    padding: 4vh;
  }

  .current-research-font, .welcome-font {
    font-size: calc(1rem + 1vw);
    text-align: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .content {
    margin-top: 50vh;
  }

  .glass-container {
    width: 95vw;
    padding: 3vh;
    margin-top: 40vh;
  }
  
  .glass-container-research {
    width: 95vw;
    margin-top: 2vh;
    padding: 4vh;
  }

  .current-research-font, .welcome-font {
    font-size: calc(1rem + 1vw);
  }
}

@media screen and (min-width: 1025px) {
  .content {
    margin-top: 45vh;
    font-size: calc(1rem + 1vw);
  }

  .glass-container {
    width: 95vw;
    padding: 2vh;
    margin-top: 45vh;
  }
  
  .glass-container-research {
    width: 95vw;
    margin-top: 2vh;
    padding: 4vh;
  }

  .current-research-font, .welcome-font {
    font-size: calc(0.6rem + 1vw);
  }
}

#research {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2vw;
  padding: 5vh;
  margin: 0 auto;
  max-width: 90vw;
}

.research-topics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  height: 350px;
  margin: 20px auto;
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 3;
  gap: 20px;
}

.research-item {
  width: 300px;
  height: 350px;
  background-color: #AFCBE5; /* Light blue background */
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  z-index: 5;
}

.research-item img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  z-index: 5;
}

.research-item h3 {
  color: #0E162F; /* Dark navy text */
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
}

.research-item button {
  margin-top: 0px;
  margin-left: 20px;
  background-color: #222839; /* Dark gray button */
  color: #FEFEFE; /* White text */
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 7;
  font-size: 0.8rem;
}

.research-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

@media screen and (max-width: 480px) {
  #research {
    grid-template-columns: 1fr;
    gap: 5vh;
    padding: 5vh 5vw;
  }

  .research-topics, .research-item {
    width: 60vw;
    height: auto;
    margin: 0 auto;
  }

  .research-item img {
    height: auto;
  }

  .research-item h3 {
    font-size: 1.2rem;
  }

  .research-item button {
    margin: 10px;
  }
}

/* Tablets in Portrait */
@media screen and (min-width: 481px) and (max-width: 768px) {
  #research {
    grid-template-columns: repeat(2, 1fr);
    gap: 5vh;
    padding: 5vh 5vw;
  }

  .research-topics, .research-item {
    width: 35vw;
    height: auto;
    margin: 0 auto;
  }

  .research-item img {
    height: auto;
  }

  .research-item h3 {
    font-size: 1.2rem;
  }

  .research-item button {
    margin: 10px;
  }
}

/* Tablets in Landscape */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #research {
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    padding: 2vh 2vw;
  }

  .research-topics, .research-item {
    width: 30vw;
    height: auto;
    margin: auto auto;
  }

  .research-item img {
    height: auto;
  }

  .research-item h3 {
    font-size: 1.2rem;
  }

  .research-item button {
    margin: 10px;
  }
}

/* Desktops */
@media screen and (min-width: 1025px) and (max-width: 1999px) {
  #research {
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    padding: 2vh 2vw;
  }

  .research-topics, .research-item {
    width: 20vw;
    height: auto;
    margin: auto auto;
  }

  .research-item img {
    height: auto;
  }

  .research-item h3 {
    font-size: 1.2rem;
  }

  .research-item button {
    margin: 10px;
  }
}

/* Very Large Screens */
@media screen and (min-width: 2000px) {
  #research {
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    padding: 2vh 2vw;
  }

  .research-topics, .research-item {
    width: 20vw;
    height: auto;
    margin: auto auto;
  }

  .research-item img {
    height: auto;
  }

  .research-item h3 {
    font-size: 1.3rem;
  }

  .research-item button {
    margin: 10px;
  }
}

#modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
  transition: opacity 0.3s ease;
  opacity: 100;
}

.modal-content {
  position: relative;
  background-color: #FEFEFE; /* White background */
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
  border-radius: 10px;
  transform: translateY(-50px);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal-images img, .modal-images video {
  flex: 1 1 48%;
  max-width: 48%;
  height: auto;
  margin: 1%;
  padding: 10px;
  background-color: #ffffff;
}

.modal-content h2 {
  margin-bottom: 10px;
  font-size: 1.5rem; /* Larger font size */
  color: #0E162F; /* Dark navy text */
}

.modal-content p {
  text-align: justify;
  font-size: 1.2rem; /* Larger font size */
  color: #222839; /* Dark gray text */
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #aaa;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .modal-content {
    width: 90%;
    margin: 20% auto;
    padding: 10px;
  }

  .modal-images img, .modal-images video {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .modal-content {
    width: 90%;
    margin: 15% auto;
    padding: 15px;
  }

  .modal-images img, .modal-images video {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .modal-content {
    width: 90%;
    margin: 10% auto;
    padding: 20px;
  }

  .modal-images img, .modal-images video {
    flex: 1 1 48%;
    max-width: 48%;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1025px) {
  .modal-content {
    width: 70%;
    margin: 5% auto;
    padding: 20px;
    font-size: 1.2rem; /* Larger font size */
  }

  .modal-images img, .modal-images video {
    flex: 1 1 48%;
    max-width: 48%;
    margin-bottom: 10px;
    padding: 10px;
  }
}

@media only screen and (min-width: 2000px) {
  .modal-content {
    width: 70%;
    margin: 5% auto;
    padding: 30px;
    font-size: 1.3rem; /* Larger font size */
  }

  .modal-images img, .modal-images video {
    flex: 1 1 48%;
    max-width: 48%;
    margin-bottom: 10px;
    padding: 10px;
  }
}

footer {
  background: #0E162F; /* Dark navy background */
  text-align: center;
  border-radius: 10px;
  padding: 2vh;
  margin-top: 0.2vh;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
  z-index: 3;
  color: #FEFEFE; /* White text */
}

.details-footer {
  border-radius: 10px;
  padding: 2vh;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #E5E9E4; /* Light gray background */
  border: 1px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #222839; /* Dark gray text */
}

.affiliations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.affiliation-logo img {
  max-width: 250px;
  width: 20vw;
  height: auto;
  background-color: #E5E9E4;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px;
}

.contact-info {
  text-align: center;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #222839; /* Dark gray text */
}

.contact-details {
  padding: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 480px) {
  footer,
  .details-footer {
    width: 95vw;
    padding: 4vh;
    margin-top: 0.5vh;
    border-radius: 10px;
  }

  .affiliations,
  .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .affiliation-logo img {
    width: 90vw;
  }

  .contact-info {
    text-align: center;
    align-items: center;
    max-width: 100%;
  }

  .contact-details {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  footer,
  .details-footer {
    width: 98vw;
    padding: 3vh;
    margin-top: 0.5vh;
  }

  .affiliations,
  .contact-info {
    flex-basis: 45%;
  }

  .affiliation-logo img {
    max-width: 18rem;
  }

  .contact-details {
    padding: 5px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1025px) {
}

@media only screen and (min-width: 2000px) {
  footer,
  .details-footer {
    width: 95vw;
    padding: 4vh;
    margin-top: 1vh;
  }

  .affiliations,
  .contact-info {
    flex-basis: 30%;
  }

  .affiliation-logo img {
    max-width: auto;
  }

  .contact-details {
    padding: 10px;
    margin-bottom: 20px;
  }
}
