* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 1.0);
  color: #222839;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1vh 1vw;
  z-index: 1000;
  border-bottom: 0.1vw solid rgba(255, 255, 255, 0.18);
}

.logo img {
  height: 7vh; /* Adjust this value as necessary */
  display: flex;
  padding-right: 0.2vw; ;
  align-items: center;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: auto;
    height: auto;
    font-size: large;
    max-width: 100vw;
    font-weight: bold;
}

nav ul li {
  padding: 0 20px; /* Use fixed padding for consistent spacing */
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #222839;
}

nav ul li a:hover {
  color: #EAEDEE;
}

@media screen and (max-width : 480px ) {
  header {
    flex-direction: column;
  }

  .logo img {
    height: 7vh; /* Smaller logo for smaller screens */
    padding: 0; /* Adjust padding as needed */
	  margin: auto auto;
  }

  nav ul {
    justify-content: center;
  }

  nav ul li {
    padding: 10px; /* More vertical padding, no horizontal */
	font-size: 3.5vw;
  }
}

/* Tablets in Portrait */
@media screen and (min-width: 481px) and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .logo img {
    height: 8vh; /* Slightly larger logo */
    padding-right: 0.5vw; /* Adjust padding */
  }

  nav ul {
    justify-content: flex-end;
  }

  nav ul li {
    padding: 0 12px; /* Adjust padding */
    font-size: 3vw; /* Adjust font size */
  }
}

/* Tablets in Landscape */
@media screen and (min-width: 769px) and (max-width: 1024px) {
	
	header {
    flex-direction: column;
  }

  .logo img {
    height: 8vh; /* Smaller logo for smaller screens */
    padding: 0; /* Adjust padding as needed */
	  margin: auto auto;
  }

  nav ul {
    justify-content: center;
  }

  nav ul li {
    padding: 10px; /* More vertical padding, no horizontal */
	font-size: 2.5vw;
  }
}

/* Desktops and screens larger than 1024px */
@media screen and (min-width: 1025px) {
  header {
    flex-direction: row; /* Return to a horizontal layout for more space */
    justify-content: space-between; /* Space out the logo and navigation */
    padding: 1vh 2vw; /* Adjust padding for a balanced appearance */
  }

  .logo img {
    height: 6vh; /* Adjust logo size for desktop */
    padding: 0; /* Reset padding */
    margin: 0; /* Reset margin */
  }

  nav ul {
    justify-content: flex-end; /* Align navigation to the end */
  }

  nav ul li {
    padding: 0 20px; /* Adjust padding for desktop */
    font-size: 1.5vw; /* Adjust font size for desktop readability */
    margin-right: 0; /* Reset margin-right */
  }
}

/* Very large screens, wider than 1440px */
@media screen and (min-width: 1440px) {
  header {
    padding: 1.5vh 3vw; /* More spacious padding for large screens */
  }

  .logo img {
    height: 7vh; /* Larger logo size for better visibility */
  }

  nav ul li {
    padding: 0 25px; /* Increase padding for a wider layout */
    font-size: 1.1vw; /* Slightly larger font size for readability */
  }
}

/* Sumo-sized screens, wider than 2000px */
@media screen and (min-width: 2000px) {
  .logo img {
    height: 8vh; /* Maximize logo size for sumo-sized screens */
  }

  nav ul li {
    padding: 0 30px; /* Maximize padding for large layouts */
    font-size: 1.2vw; /* Enhance font size for optimal readability */
  }
}
/* Wavy Background Canvas */
canvas#wavyBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2; /* Ensures it's the bottom-most layer */
}

/* Blurry Backdrop */
.blurry-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(40px); /* Prefix for iOS/Safari */
  backdrop-filter: blur(40px);
  z-index: -1; /* Positioned above the wavy background but below other content */
}

/* Team Section */
.team-section {
  padding-top: 150px;
}

.professor-card {
  grid-column: 1/-1;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.professor-card img {
  max-width: 100%;
  height: auto; /* Adjust height automatically to maintain aspect ratio */
  object-fit: contain; /* Ensures the full image is shown, might introduce whitespace */
  border-radius: 10px;
}

.glass-text-professor {
  background: rgba(255, 255, 255, 0.7);
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
  font-size: 1rem; /* Adjusted font size */
  height: auto;
}

.student-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.student-card {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.image-container {
  flex-basis: 20%;
  text-align: center;
}


.card-image, .professor-card img {
  max-height: 250px; /* Fixed height for all images */
  object-fit: contain; /* Adjust this to 'contain' for no cropping */
  width: auto; /* Adjust width automatically to maintain aspect ratio */
  margin: auto; /* Center the image in its container */
  border-radius: 10px;
}
.card-info {
  text-align: left;
}

.glass-text-student {
  flex-basis: 80%;
  font-size: 1rem; /* Adjusted font size */
  background: rgba(255, 255, 255, 0.7);
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Mobile Devices */
@media screen and (max-width: 480px) {
  .student-cards-container {
    flex-direction: column;
  }
  .student-card, .image-container, .glass-text-student {
    width: 95%; /* Adjust width to fit mobile screens better */
	flex-direction: column;
	margin: auto auto;
  }
  .professor-card img, .student-card img {
    max-height: 200px; /* Adjust image size for mobile screens */
  }

	.glass-text-student h3, h4 {
		text-align: center;
	}
	
	.glass-text-student h4, p {
		margin-bottom: 10px;
	} 
}

/* Tablets in Portrait */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .student-cards-container {
    flex-wrap: wrap;
  }
  .student-card, .image-container, .glass-text-student {
    width: 95%; /* Adjust width to fit mobile screens better */
	flex-direction: column;
	margin: auto auto;
	grid-template-columns: repeat(1, 1fr);
  }
	.glass-text-student h3, h4 {
		text-align: center;
	}
	
	.glass-text-student h4, p {
		margin-bottom: 10px;
	} 
}

/* Tablets in Landscape */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .student-cards-container {
    justify-content: space-around;
  }
  .student-card {
    width: 95%; /* Adapt to show three cards per row */
	margin: auto auto;
  }
	
  .glass-text-student h4, p {
	margin-bottom: 10px;
	} 
}

/* Laptops */
@media screen and (min-width: 1025px) {
  .student-cards-container {
    justify-content: space-between;
  }
  .student-card {
    width: 100%; /* Adapt to show three cards per row */
	margin: auto 20px;
  }
	
  .glass-text-student h4, p {
	margin-bottom: 10px;
	} 
}

/* Very Large Screens */
@media screen and (min-width: 2000px) {
  .student-cards-container {
    justify-content: space-between;
  }
  .student-card {
    width: 90%; /* Adapt to show three cards per row */
	margin: auto;
  }
	
  .glass-text-student h4, p {
	margin-bottom: 10px;
	} 
}


