* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 1.0); /* White background */
  color: #0E162F; /* Dark navy text */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1vh 2vw;
  z-index: 1000;
  border-bottom: 0.1vw solid rgba(255, 255, 255, 0.18);
}

.logo img {
  height: 6vh; /* Default height for logos */
}

.desktop-logo {
  display: block; /* Show desktop logo by default */
}

.mobile-logo {
  display: none; /* Hide mobile logo by default */
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: auto;
  font-size: large;
  font-weight: bold;
  padding-top: 1vh;
}

nav ul li {
  padding: 0 20px;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #0E162F;
}

nav ul li a:hover {
  color: #AFCBE5;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon div {
  width: 25px;
  height: 3px;
  background-color: #0E162F;
  margin: 4px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  nav ul {
    position: absolute;
    top: 60px;
    left: -100%;
    flex-direction: column;
    width: 100%;
    background-color: rgba(255, 255, 255, 1.0);
    transition: left 0.3s ease;
    z-index: 999;
    padding-top: 0;
  }

  nav ul li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }

  nav ul.active {
    left: 0;
  }

  .desktop-logo {
    display: none; /* Hide desktop logo on mobile */
  }

  .mobile-logo {
    display: block; /* Show mobile logo on mobile */
    height: 7vh; /* Adjust height for mobile logo */
  }
}

#publications .cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* This will create as many columns as can fit with a minimum width of 300px each */
  gap: 20px; /* This is the gap between grid items */
  padding: 20px; /* Padding around the entire grid */
  justify-content: center; /* This centers the grid horizontally */
  align-items: start; /* Align grid items to the start of the container */
}

#publications .card-container { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: start;
  width: 95%;
}

#publications .card {
  background-color: #222839; /* Dark gray background */
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  /* Removed flex-basis since it's not needed for grid layout */
}

#publications .card:hover {
  transform: translateY(-5px); /* Raise the card slightly on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth effect */
}

#publications .card-content {
  padding: 16px;
  background-color: rgba(0,0,0,0.4); /* Darker background for card content */
  color: white; /* White text for better readability */
}

#publications .card-content h3 {
  margin-top: 0;
  margin-bottom: 8px; /* Space between the title and the authors */
  font-size: 18px; /* Adjust font size as needed */
  color: #ffffff; /* Light blue text */
}

#publications .card-content p {
  margin-top: 0;
  margin-bottom: 16px; /* Space between the authors and the 'Read More' button */
  font-size: 14px; /* Adjust font size as needed */
  color: #E5E9E4; /* Light gray text */
}

#publications .card-content .btn {
  padding: 8px 16px;
  background-color: #333; /* Dark gray button */
  text-decoration: none;
  border-radius: 4px;
  color: #FEFEFE; /* White text */
  display: block; /* Make the button take the full width of the card content */
  text-align: center; /* Center the button text */
  transition: background-color 0.3s;
}

#publications .card-content .btn:hover {
  background-color: #555; /* Darken button on hover */
}

/* Mobile Devices */
@media screen and (max-width: 480px) {
  #publications .cards-wrapper {
    grid-template-columns: 1fr; /* Single column for mobile */
    padding: 20px; /* Adjust padding */
  }

  #publications .card-container {
    width: 90%; /* Full width for mobile */
  }
}

/* Tablets in Portrait */
@media screen and (min-width: 481px) and (max-width: 768px) {
  #publications .cards-wrapper {
    grid-template-columns: repeat(2, 1fr); /* Two columns for portrait tablets */
	
	
  }

  #publications .card-container {
    width: 90%; /* Adjust width to suit tablet screens */
	  
  }
}

/* Tablets in Landscape */
@media screen and ( min-width : 769px ) and (max-width : 1025px ){
  #publications .cards-wrapper {
    grid-template-columns: repeat(3, 1fr); /* Three columns for landscape tablets */
	 
  }

  #publications .card-container {
    width: 90%; /* Adjust width for landscape */
	
  }
}

/* Laptops and Desktops */
@media screen and (min-width : 1026px ) and ( max-width : 1999px ){
  #publications .cards-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Auto-fit with a min width of 250px */
  }

  #publications .card-container {
    width: 95%; /* Adjust width for larger screens */
  }
}

/* Very Large Screens */
@media screen and (min-width: 2000px) {
  #publications .cards-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust for very large screens */
  }

  #publications .card-container {
    width: 90%;
  }
}

/* Wavy Background Canvas */
canvas#wavyBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -4; /* Ensure it's behind all content but above the page background */
}

/* Blurry Backdrop */
.blurry-backdrop {
  position: fixed; /* or 'fixed' if you want it to stay in place on scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(40px); /* Prefix for iOS/Safari */
  backdrop-filter: blur(40px);
  z-index: -3; /* Ensure this is below the content but above the wavy background */
}

/* Adjusting the z-index for other elements */
#publications .card-container,
#publications .card,
#publications .pub,
#publications .card-content,
#publications .card-content .btn {
  position: relative; /* Required for z-index to take effect */
  z-index: 2; /* Ensures that publication cards are above the backdrop */
}

.glass-container {
  background: rgba(0, 0, 0, 0.888); /* Dark navy background with opacity */
  backdrop-filter: blur(10px); /* Blur the background behind the container */
  border-radius: 15px; /* Rounded corners */
  padding: 25px; /* Padding inside the container */
  margin: 20px auto; /* Center the container with automatic horizontal margins */
  max-width: 95%; /* Maximum width of the container */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.glass-container h2 {
  font-size: 24px; /* Size of the container title */
  color: #E5E9E4; /* Light gray color for the title */
  margin-bottom: 15px; /* Space below the title */
}

.glass-container ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
}

.glass-container li {
  margin-bottom: 10px; /* Space between list items */
}

.glass-container a {
  color: #AFCBE5; /* Light blue color for links */
  text-decoration: none; /* No underline for links */
  transition: color 0.3s; /* Smooth color transition for hover effect */
}

.glass-container a:hover {
  color: #FEFEFE; /* White for link hover state */
  text-decoration: underline; /* Underline on hover for links */
}

#more-publications ul {
  list-style-type: none; /* Optional: Removes the default list style */
  padding-left: 0; /* Optional: Aligns content with the rest of the page */
}

button {
  background-color: #333; /* Example: Dark gray button color */
  color: #FEFEFE; /* White text */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555; /* Darker shade for hover effect */
}

/* Mobile Devices */
@media screen and (max-width: 480px) {
  .glass-container {
    width: 90%;
    padding: 20px; /* Reduce padding */
    border-radius: 10px; /* Adjust for smaller screens */
  }

  .glass-container p, .glass-container a {
    font-size: 3vw; /* Adjust font size for landscape tablets */
  }
  
  .glass-container h2 {
    font-size: 4.5vw;
  }

  .glass-container a.btn {
    padding: 12px 24px; /* Increase button size for easier interaction */
  }
}

/* Tablets in Portrait */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .glass-container {
    max-width: 90%; /* Adjust width for tablet screens */
  }
  /* Increase text sizes slightly for better readability on tablets */
  .glass-container h2 {
    font-size: 26px;
  }
  .glass-container a.btn {
    padding: 10px 22px;
  }
}

/* Tablets in Landscape */
@media screen and ( min-width : 769px ) and (max-width : 1025px ){
  .glass-container {
    max-width: 90%;/* Utilize more width for landscape orientation */
  }
  .glass-container p, .glass-container a {
    font-size: 1.7vw; /* Adjust font size for landscape tablets */
  }
  
  .glass-container h2 {
    font-size: 2.5vw;
  }
}

/* Laptops */
@media screen and (min-width: 1025px) {
  .glass-container {
    max-width: 90%; /* Ideal max width for larger screens */
  }
  /* Adjusting font sizes for larger displays */
  .glass-container h2 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .glass-container {
    max-width: 95%; /* Ideal max width for larger screens */
  }
  /* Adjusting font sizes for larger displays */
  .glass-container h2 {
    font-size: 30px;
  }
}

/* Very Large Screens */
@media screen and (min-width: 2000px) {
  .glass-container {
    max-width: 90%; /* Slightly increase width for very large screens */
  }
  /* Increase text and button sizes for very large screens */
  .glass-container h2 {
    font-size: 32px;
  }
  .glass-container a.btn {
    padding: 14px 28px; /* Larger buttons for easier interaction */
  }
}
