* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 1.0);
  color: #222839;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1vh 1vw;
  z-index: 1000;
  border-bottom: 0.1vw solid rgba(255, 255, 255, 0.18);
}

.logo img {
  height: 7vh; /* Adjust this value as necessary */
  display: flex;
  padding-right: 0.2vw; ;
  align-items: center;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: auto;
    height: auto;
    font-size: large;
    max-width: 100vw;
    font-weight: bold;
}

nav ul li {
  padding: 0 20px; /* Use fixed padding for consistent spacing */
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #222839;
}

nav ul li a:hover {
  color: #EAEDEE;
}

@media screen and (max-width : 480px ) {
  header {
    flex-direction: column;
  }

  .logo img {
    height: 7vh; /* Smaller logo for smaller screens */
    padding: 0; /* Adjust padding as needed */
	  margin: auto auto;
  }

  nav ul {
    justify-content: center;
  }

  nav ul li {
    padding: 10px; /* More vertical padding, no horizontal */
	font-size: 3.5vw;
  }
}

/* Tablets in Portrait */
@media screen and (min-width: 481px) and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .logo img {
    height: 8vh; /* Slightly larger logo */
    padding-right: 0.5vw; /* Adjust padding */
  }

  nav ul {
    justify-content: flex-end;
  }

  nav ul li {
    padding: 0 12px; /* Adjust padding */
    font-size: 3vw; /* Adjust font size */
  }
}

/* Tablets in Landscape */
@media screen and (min-width: 769px) and (max-width: 1024px) {
	
	header {
    flex-direction: column;
  }

  .logo img {
    height: 8vh; /* Smaller logo for smaller screens */
    padding: 0; /* Adjust padding as needed */
	  margin: auto auto;
  }

  nav ul {
    justify-content: center;
  }

  nav ul li {
    padding: 10px; /* More vertical padding, no horizontal */
	font-size: 2.5vw;
  }
}

/* Desktops and screens larger than 1024px */
@media screen and (min-width: 1025px) {
  header {
    flex-direction: row; /* Return to a horizontal layout for more space */
    justify-content: space-between; /* Space out the logo and navigation */
    padding: 1vh 2vw; /* Adjust padding for a balanced appearance */
  }

  .logo img {
    height: 6vh; /* Adjust logo size for desktop */
    padding: 0; /* Reset padding */
    margin: 0; /* Reset margin */
  }

  nav ul {
    justify-content: flex-end; /* Align navigation to the end */
  }

  nav ul li {
    padding: 0 20px; /* Adjust padding for desktop */
    font-size: 1.5vw; /* Adjust font size for desktop readability */
    margin-right: 0; /* Reset margin-right */
  }
}

/* Very large screens, wider than 1440px */
@media screen and (min-width: 1440px) {
  header {
    padding: 1.5vh 3vw; /* More spacious padding for large screens */
  }

  .logo img {
    height: 7vh; /* Larger logo size for better visibility */
  }

  nav ul li {
    padding: 0 25px; /* Increase padding for a wider layout */
    font-size: 1.1vw; /* Slightly larger font size for readability */
  }
}

/* Sumo-sized screens, wider than 2000px */
@media screen and (min-width: 2000px) {
  .logo img {
    height: 8vh; /* Maximize logo size for sumo-sized screens */
  }

  nav ul li {
    padding: 0 30px; /* Maximize padding for large layouts */
    font-size: 1.2vw; /* Enhance font size for optimal readability */
  }
}

canvas#wavyBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3; /* Behind all content */
}


/* Blurry Backdrop */
.blurry-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(40px); /* Prefix for iOS/Safari */
  backdrop-filter: blur(40px);
  z-index: -2; /* Above the wavy background, below everything else */
}

.glass-container {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 2vh;
  margin-top: 100px;
  width: 95vw; /* Adjusted to provide some margin on smaller screens */
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.research-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    left: 0vmax;
    text-align: center;
    border-radius: 10px;
}

.content {
    display: flex;
    align-items: center; /* This will vertically center the items in the container */
    justify-content: start; /* This will align the items to the start of the container */
}

.image-container {
    flex-basis: 50%; /* This assigns a base width for the image container */
    max-width: 50%; /* This ensures the image container doesn't exceed half the parent container's width */
}

.text-container {
    flex-basis: 50%; /* This assigns a base width for the text container */
    max-width: 50%; /* This ensures the text container doesn't exceed half the parent container's width */
    padding-left: 20px; /* This adds some space between the image and the text */
}

/* You might want to add this to ensure the image is responsive and doesn't overflow its container */
.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


video {
    width: 50%;
    border-radius: 5px;
	margin-top: 10px;
}

/* Mobile Devices */
@media screen and (max-width: 480px) {
    .glass-container {
        padding: 5vw; /* Slightly reduce padding */
        margin-top: 110px; /* Adjust top margin */
        width: 90vw; /* Adjust width for smaller screens */
    }

    .content {
        flex-direction: column; /* Stack image and text vertically */
    }

    .image-container, .text-container {
        flex-basis: 100%; /* Use full width */
        max-width: 100%; /* Ensure they do not exceed the container's width */
        padding: 0; /* Reset padding for a snug fit */
    }

    .image-container img, video {
        width: 100%; /* Ensure media scales down */
    }

    .text-container {
        padding: 10px 0; /* Add some padding above and below the text */
    }

    .research-title {
        font-size: 20px; /* Adjust title size for smaller screens */
        margin-bottom: 10px; /* Reduce margin */
    }
}

/* Tablets in Portrait */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .glass-container {
        width: 85vw; /* Adjust for slightly more margin */
    }

    .content {
        flex-direction: row; /* Return to side-by-side layout if possible */
    }

    .image-container, .text-container {
        flex-basis: 50%; /* Return to split layout */
    }
}

/* Tablets in Landscape and Small Laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .glass-container {
        width: 90vw; /* Provide more margin */
    }

    .image-container, .text-container {
        /* These remain unchanged as they adapt well from portrait tablet settings */
    }
}

/* Laptops and Desktops */
@media screen and (min-width: 1025px) {
    .glass-container {
        width: 90vw; /* Further adjust for larger screens */
        max-width: 1200px; /* Cap the maximum width to maintain design integrity */
    }

    .content {
        /* No changes needed here as the flex layout adapts well */
    }
}

/* Very Large Screens */
@media screen and (min-width: 2000px) {
    .glass-container {
        width: 80vw; /* Adjust for significant margins */
        max-width: 1600px; /* Ensure content is not overly stretched */
    }

    .research-title {
        font-size: 28px; /* Slightly increase for better readability */
    }
}
